[user]
	name = Vladislav Abrashkin
	email = isneezh@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[pull]
	rebase = true
